@page "/clients"
@inherits HomeClientsPage

<PageTitle>Clientes</PageTitle>

<MudTable Items="@Clients" FixedHeader=true Height="515px" Style="margin: 10px" Hover="true" Loading="LoadingTable" LoadingProgressColor="Color.Info" >
    <HeaderContent>
        <MudTh>#</MudTh>
        <MudTh>Nome</MudTh>
        <MudTh>CPF</MudTh>
        <MudTh>Celular</MudTh>
        <MudTh>Negativado</MudTh>
        <MudTh>
            <MudButton IconClass="@Icons.Material.Filled.Add"
                        OnClick="OnCreateClinckAsync"
                        Variant="Variant.Filled" >
                Novo Cliente
            </MudButton>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        @if(Clients.Count != 0)
        {
            <MudTd DataLabel="#">@context.position</MudTd>
            <MudTd DataLabel="Nome">@context.client.Name</MudTd>
            <MudTd DataLabel="CPF">@context.client.Cpf</MudTd>
            <MudTd DataLabel="Celular">
                @((context.client?.Contacts?.FirstOrDefault()?.PhoneNumber) ?? "-------------")
            </MudTd>
            <MudTd DataLabel="Negativado">
                @if (context.client.Negativated)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Warning" />
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.Check" />
                }
            </MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Info"
                    OnClick="()=> OnDetailsClick(context.client)"/>

                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                    OnClick="() => OnEditClieckAsync(context.client, context.position)"/>

                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="() => OnDeleteClieckAsync(context.client.Id, context.client.Name)" />
            </MudTd>
        }
        else
        {
            <h3>Nenhum Cliente Cadastrado</h3>
        }

    </RowTemplate>
</MudTable>
